@font-face {
  font-family: "Brannball";
  src: url("../fonts/brannboll/BrannbollSS.ttf");
}

body, .page-footer {
  background-color: #fff;
  background-image: url("../images/bg-light.png");
}

a, a:visited {
  color: #795548;
}

a:hover {
  text-shadow: 0 0 3px #f43535;
  color: #f43535;
}

.container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Brannball";
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

nav {
  background-color: #f2d7b0;
  background-image: url("../images/bg-light.png");
}

#produtos {
  background-image: url("../images/bg-light.png");
}

.texto-desc {
  background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 500px) {

  nav:hover {
    opacity: 1 !important;
  }
}

nav ul a {
  font-family: "Brannball";
  font-size: 3rem !important;
  font-weight: 600;
  color: #f43535 !important;
}

@media only screen and (min-width: 500px) {
  nav ul a {
    font-size: 1.5rem !important;  
  }
}

#nav-mobile {
  background-image: url("../images/bg-light.png");
  padding-top: 20px;
  z-index: 1000;
}

#nav-mobile li {
  padding-bottom: 20px;
}

nav ul a:hover,
  #produtos li:hover {
  font-weight: 600;
}

@media only screen and (min-width: 1025px){
  nav ul a:hover,
  #produtos li:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

#fechar {
  position: absolute;
  bottom: 80px;
  left: 120px;
}

#menu-logo {
  color: #f43535 !important;
  font-family: "Brannball";
  font-size: 2.5rem !important;
  font-weight: 600;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  a {
    color: #f43535;
  }
}

.menu-left {
  float: left;
  margin-left: 20px;
}

.menu-right {
  float: right;
  margin-right: 20px;
}

.button-collapse {
  color: #f44336;
}

#logo {
  min-height: 20px;
  min-width: 50px;
  max-height: 250px;
  max-width: 380px;
}

@media screen and (max-width: 500px){

  #logo {
    max-width: 320px;
  }
}

#sidenav-overlay {
  background-color: transparent}

nav ul a {
  color: #795548;
}

p {
  line-height: 2rem;
}

.parallax-container {
  align-items: center;
  color: #fff !important;
  display: flex;
  justify-content: center;
  min-height: 250px;
  max-width: 100%;
  line-height: 0;
  height: auto;
}

.section {
  color: #795548;
  font-size: 16px;
  padding: 15px;
  text-align: justify;

}

.parallax-container h1, 
.parallax-container h2,
.parallax-container h3 {
  text-shadow: 2px 1px #545454;
}

@media only screen and (min-width : 600px) {
  .parallax-container {
    min-height: 580px;
  }

  .section {
    padding: 50px 30px 30px 30px;
   }

  .section p {
    text-indent: 50px;
  }
}

#index-banner h2 {
  color: #fad847;
}

@media only screen and (min-width : 992px) {
  .parallax-container .section {
    position: absolute;
  }

  #index-banner .section {
    height: 100%;
  }
}

footer.page-footer {
  margin-top: 0 !important;
}

footer .page-footer {
  padding: 20px;
}

#contato {
  padding: 20px;
  padding-top: 0;
  color: #795548;
  font-size: 18px;
  text-align: center;
}

@media only screen and (min-width : 992px) {
  #contato {
    font-size: 16px;
    text-align: left;
  }
}

.modal-content img {
  width: 100%;
}

#map {
  height: 150px;
  border: #fff solid 2px;
}

@media only screen and (min-width: 500px){
  #localizacao {
    margin-top: 50px;
  }
}

.social li {
  display: inline-block;
}

.footer-copyright {
  text-align: center;
}

#carousel-produtos {
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 200px;
}

.carousel-item {
  height: inherit !important;
}

#saiba-mais-massas a {
  color: #f43535;
  text-shadow: 0 0 3px #f43535;
}

@media only screen and (min-width: 500px){
  #saiba-mais-massas {
    padding-top: 0;
  }

  #saiba-mais-massas a {
    text-shadow: none;
  }

  #saiba-mais-massas a:hover {
    text-shadow: 0 0 3px #f43535;
  }
}

#massas img {
  border-radius: 50%;
  max-width: 200px;
}

.item-massa {
  text-align: center;
}

@media only screen and (min-width: 500px){

  #massas {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
  }

  #massas .col {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .item-massa {
    text-align: left;
    border: 3px #f43535 solid;
    padding: 25px;
    height: 98%;
  }

  .item-massa img {
    margin-left: 15px;
    margin-bottom: 5px;
    float: right;
  }

  .sobre-chef {
    display: flex;
  }

  .sobre-chef img {
    margin: 20px;
  }

  .sobre-chef h4 {
    align-self: center;
  }
}

.item-massa h2 {
  margin-top: 0;
}

#produtos-armazem, #produtos-cafe {
  padding-top: 20px;
  text-align: center;
}

#produtos-armazem img, #produtos-cafe img {
  border-radius: 50%;
}

#cardapio, #cardapio .modal-footer {
  background-color: #edd3a5;
  color: #795548;
}

#cardapio h4 {
  color: #f43535;
  text-align: center;
}

#cardapio .categoria {
  color: #f43535;
}

#cardapio .valor {
  float: right;
  border-color: #f43535;
  color: #f43535;
}

